/* Cascade Style Sheet for this website */
body {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	color: #444444;
}

h1 {
	color: black;
	font-size: 48px;
	text-align: center;
}

.title {
	display: block;
	margin-bottom: 20px;
}

ul.menu {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

ul.menu li {
	text-align: center;
	display: inline;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: darkblue;
	padding: 4px 8px;
}

ul.menu li a {
	color: white;
	text-decoration: none;
}

footer > p {
	background-color: black;
	color: white;
	font-size: 10px;
	text-align: right;
	padding: 4px 8px;
}

p {
	font-size: 12px;
	background-color: white;
	
}

input[type=submit] {
	color: #444444;
}

div.inputfield > label {
	display: inline-block;
	float: left;
	clear: left;
	width: 150px;
}

div.inputfield > input {
	display: inline-block;
	float: left;
	width: 400px;
}
div.inputfield > .error {
	display: inline-block;
	margin-left: 5px;
	float: left;
	width: 180px;
}

textarea {
	width: 400px;
	color: #444444;
}

.error {
	color: red;
}